<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <style type="text/css">
        .box{
            width: 300px;
            height: 155px;


            margin-left: 450px;
            margin-top: 150px;
        }
        form {color:red;text-align: center}
    </style>
</head>
<body>
<div class="box">
<form action="/register" method="post">
    <p>username<input type="text" name="username" placeholder="请输入用户名"><br></p>
    <p>name <input type="text" name="name" placeholder="请输入真实姓名"><br></p>
    <p>gender<input type="text" name="gender" placeholder="请输入性别"><br></p>
    <p>phoneNumber<input type="number" name="phoneNumber" placeholder="请输入电话号码"><br></p>
    <p>signature<input type="text" name="signature" placeholder="请输入个性签名"><br></p>
    <p>password<input type="number" name="password" placeholder="请输入密码"><br></p>

    <input type="submit" name="注册">
</form>
</div>

</body>
</html>